#btnTOP {

 -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #212325;
  -fx-border-radius: 10px 10px 0px 0px;
  -fx-background-color: linear-gradient( #373D40 0%, #585F63 100%);
   
  -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
	-fx-min-height: 45px;
		-fx-min-width: 145px;
	 -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);

 

}


#btnHole {

	 
	 
	  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #212325;
  -fx-border-radius: 5px;
  -fx-background-color: linear-gradient( #34373B 0%, #2E3335 100%);
 
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
  -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
	-fx-min-height: 45px;
	-fx-min-width: 145px;
	 -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#btnHole:hover{
 -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #212325;
  -fx-border-radius: 5px;
  -fx-background-color: linear-gradient( #205885 0%, #4689DB 100%);
 
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
  -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
	-fx-min-height: 45px;
	-fx-min-width: 145px;
	 -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#vboxWidth{
	
}

#toolbarMenu {
	 -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #212325;
  -fx-border-radius: 0px 0px 0px 0px;
  -fx-background-color: linear-gradient( #373D40 0%, #585F63 100%);
   
  -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
	-fx-min-height: 45px;
		-fx-min-width: 145px;
	 -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#mainScrean{
    -fx-background-image: url("../assets/bck.png");
    -fx-background-repeat: REPEAT;   
   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}